*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    word-spacing: 9px;
    text-align:center;
    color:white;
    font-size: 2.2rem;  
    text-transform:uppercase;
    letter-spacing: 12px;
    text-shadow: 0 1px 4px #9cc1f8,
                 0 1px 4px  #9ecaf3,
                
                 0 15px 5px rgba(0, 0, 0, 0.1);

                 font-family: 'Carter One', cursive;


}
body{
    background-image: url('weatherbackground.avif');
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}


.app-main{

    width: 50vh;
    margin: 50px auto;
    background-color: rgba(240, 248, 255, 0.6);
    padding: 20px;
    text-align: center;
    
}

.app-main > * {

    margin-bottom: 20px;
}


.input-box{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    outline: none;
    color: #582233;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px ;
    padding: 0 10px;
    text-align: center;
}

.input-box:focus
{
    background-color: rgba(255, 255, 255);
}



.weather-body{
    /*here weather deatils body is none so that to hide the initial part , once city name is entered and enter key is pressed then weather body get displayed again*/
    
    display: none;
    color: #582233;
    padding: 20px;
     line-height: 2rem;
     border-radius: 10px;
     background-color: rgba(255, 255, 255, 0.6);
     height: 50vh;
}


.location-details{
    font-weight: bold;

}

.temp{
    font-size: 50pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0,0, 0, 0.3);
}

.min-max , .weather{

    font-size: 12pt;
    font-weight: 600;
    
}
.weather{
    font-size: 22px;
    line-height: 4rem;
}

.humidity , .wind{

    font-size: 12pt;
    font-weight: 600;
    
}